// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

// importing core styling file
@import "./fontawesome/fontawesome.scss";

// our project needs Classic Solid, Brands, and Sharp Solid
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";


@import "icon-list";

$white: #fafafa;

$theme-colors: (
  "light": #ecd5e6,
  "dark": #0a0a0a,
  "primary": #481437,
  "secondary": #419f88,
  "info": #ccabfc,
  "success": #0fa872,
  "warning": #d8d00e,
  "danger": #e53c05,
);

// Add transition for smooth fading and sliding effects
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.user-message,
.assistant-message {
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin: 5px;
  max-width: fit-content;
  transition: all 0.3s ease-in-out;
  max-width: 92%;
}

// User's message with sliding animation from the right
.user-message {
  text-align: right;
  align-self: end;
  background-color: #0d6efd25;
  animation: slideInRight 0.3s ease-in-out;
}

// Assistant's message with sliding animation from the left
.assistant-message {
  text-align: left;
  align-self: start;
  background-color: #250dfd25;
  animation: slideInLeft 0.3s ease-in-out;
}

// Hover effect to change background color when hovering over a message
.user-message:hover,
.assistant-message:hover {
  cursor: text;
}

.user-message:hover {
  background-color: #0d6efd70;
}

.assistant-message:hover {
  background-color: #250dfd50;
}

// // Adding a subtle animation when the messages appear
// .user-message,
// .assistant-message {
//     animation: fadeIn 0.7s ease-out;
// }

#output {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.list-group-item {
  border-radius: 12px !important;
  margin-bottom: 6px;
}

@include media-breakpoint-down(md) {
  .topic-name {
    width: 80em;
  }
}

.topic-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14em;
}

@include color-mode(dark) {
  .list-group-item.active {
    background-color: var(--bs-primary-bg-subtle) !important;
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.1);
  }

  .nav-img {
    filter: invert(1);
  }
}


.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.color-modes {
  .dropdown-menu {
    padding: .25rem;

    li + li {
      margin-top: .125rem;
    }
  }

  .dropdown-item {
    @include border-radius(.25rem);
  }

  .active {
    font-weight: 600;

    .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}